<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EurocyclesBikeSpec"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=Eurocycles-BikeSpec;Integrated Security=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
